@font-face {
	font-family: 'arrows';
	src:url('../fonts/arrows/arrows.eot');
	src:url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arrows/arrows.woff') format('woff'),
		url('../fonts/arrows/arrows.ttf') format('truetype'),
		url('../fonts/arrows/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bb-custom-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.bb-custom-wrapper .bb-bookblock {
	width: 100%;
	height: 100%;
	-webkit-perspective: 2000px;
	perspective: 2000px;
}

.bb-custom-side {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	background: #fff;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.bb-custom-side h1 {
	font-size: 2.3em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	background: #fff;
}


/* .bb-custom-firstpage {
	text-align: center;
	padding-top: 15%;
	width: 50%;
	float: left;
	height: 100%;
} */

.bb-custom-side p {
	padding: 8%;
	font-size: 1.8em;
	font-weight: 300;
}

.bb-custom-img {
	height: 30%;
	width: 30%;
}

.bb-custom-wrapper h3 {
	font-size: 1.4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper > nav {
	width: 100%;
	height: 40px;
	margin: 1em auto 0;
	position: fixed;
	bottom: 20px;
	z-index: 1000;
	text-align: center;
}

.bb-custom-wrapper > nav a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 2px;
	background: #5bbbdb;
	opacity: 0.7;
	color: #fff;
	font-size: 0;
	margin: 2px;
}

.bb-custom-wrapper > nav a:hover {
	opacity: 0.6;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 30px;
	line-height: 40px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* backgrounds */
/* page 0 */
.bb-bunny-image0 {
	width: 40%;
}

.bb-bunny-image {
	width: 40%;
}

/* page 1 */
.winter {
	background-image: url("../images/bg/winterwonderland.jpg");
	  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.winter p {
	color: #f3f3f3;
}
.sky {
	background-image: url("../images/bg/blue-sky.png") !important; 
}

/* page 2 */
.doorstep {
	background-image: url("../images/bg/doorstep.jpg");
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	opacity: 0.7; 
}

.doorstep p {
	color: #3f3f3f;
	font-weight: 400;
}

.story {
	background-color: #D7F0FF;
}

.bb-book-image {
	width: 50%;
}


/* page 3 */

.months {
	background-color: #E0BBE4;
}

.months p {
	color: #fff;
}

.months img {
	height: 60%;
	width: 60%;
}

.prime {
	background-color: #FFDFD3;
}

/* page 4 */
.care {
	background-color: #e6b2c6;
}

.care p {
	color: #f3f3f3;
}

.care img {
	height: 60%;
	width: 60%;
}

.pants {
	background-color: #d6e5fa;
}

.pants p {
	color: #3f3f3f;
}

/* page 5 */

.nursery {
	background-color: #CC90B5;
}

.nursery p {
	color: #f3f3f3;
}

.blue-pink {
	background: url('../images/bg/Donut.jpg');
	opacity: 0.6;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	text-align: center;
}

.blue-pink p{
	font-weight: bold;
	color: #3f3f3f;	
}


/* page 6 */

.will-it-be {
	background-color: #C0CCD0;
}

.will-it-be p {
	color: #f3f3f3;
}

.bb-what {
	height: 75%;
}

.heshe{
	background-color: #C9F6E2;
}

.heshe p {
	font-weight: 400;
}

/* page 7 */
.child-out {
	background-color: #F29CB1;
	
}

.child-out p {
	color: #f3f3f3;
}

.child-out img {
	height: 60%;
}

.drumroll {
	background-color: #FEFADC;
}

.drumroll img {
	height: 40%;
}

/* page 8 */
.announce {
	background-color: #fade78;
}

.announce p {
	color: #3f3f3f;
}

.announce img {
	height: 40%;
}

.click-here {
	font-weight: bold;
	color: #3f3f3f;
}

.front p {
	font-weight: bold;
}

.front img {
	height: 40%;
}

/*** Image animations ***/
/* swing */
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(10deg);}
    50%{-webkit-transform: rotate(-5deg)}
    100%{-webkit-transform: rotate(10deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
}
 
.bb-dress-image{
	height: 30%;
	width: 30%;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3s ease-in-out backwards infinite;
    animation: swinging 3s ease-in-out backwards infinite;
}

.bb-pants-image{
	height: 30%;
	width: 30%;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 3s ease-in-out backwards infinite;
	animation: swinging 3s ease-in-out backwards infinite;
	animation-delay: -1s;
}

.bb-mobile-image{
	height: 50%;
	/* width: 30%; */
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 1s ease-in-out forwards infinite;
    animation: swinging 1s ease-in-out forwards infinite;
}


/* fly */
.bb-fly-image {
	height: 50%;
	width: 50%;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/* flip-card */

.girl {
	height: 100%;
}

#card {
	width: 25em;
	height: 25em;
  
}

.front {
	background-color: #aaf0d1;
	border: 1px solid #aaf0d1;
	opacity: 0.6;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.back {
	border: 1px solid #f1f1f1;
	border-radius: 20px;
	background: url('../images/girl.jpg');
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
		 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

.reveal {
	background: url('../images/bg/watercolor.png');
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}

@media screen and (max-width: 61.75em){
	.bb-custom-side {
		font-size: 70%;
	}
}

@media screen and (max-width: 33em){
	.bb-custom-side {
		font-size: 60%;
	}
}
